.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}
.category-title {
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
}


@media screen and (max-width: 600px) {
  .category-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px; 
    row-gap: 20px;
  }
}